<div class="container mt-5">
    <h2 class="text-primary  " style="text-align:center">About The Reading Nook</h2>
    <p style="font-size:large">
We are experts in online book discovery and sales
We have build full-featured, easy-to-use book publishing website which is:
<br />
Data-centric
We make it really easy to get your ONIX data online and they are optimized for SEO, social media, online discovery, marketing automation, and sales. You can literally load or update your entire catalogue in few minutes.
        <br />
E-co    mmerce-enabled
We have build integrated e-commerce system that power your direct sales. You can easily apply discounts, process payments securely, and fulfill e-book orders on the spot.
        <br />
Together, we can grow your online book sales.


    </p><br />
    <div>
<h3 class="text-info">MEET THE TEAM:</h3>
        <a style="font-weight:bold " >Andrej Gerasimović</a><img src="~/images/Andrej.png" style="width:50px" /><br />
        <a style="font-weight:bold">Viktor Nikolić</a><img src="~/images/viktor.png" style="width:50px" /><br />
        <a style="font-weight:bold">Andrea Stojmanovska</a><img src="~/images/Andrea.png" style="width:50px" />
    <img src="~/images/The_reading_nook-removebg.png" style="float:right;top:-170px;position:relative;right:400px;width:400px"/>
    </div>
</div>