@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is: @Model <br/><br/>
        <img src="~/images/products/sp.png"/>
    </div>
    <div class="col-12 text-center " style="color:maroon">
        <br/>
        Your order has been placed succesfully!<br/>

    </div>
</div>
